/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}



/*
  Grid
*/

.container {
  max-width: 960px;
  margin: 0 auto;

}

/*
  Custom styles
*/

body {
  background: #fff;
  background-image: url("../images/bg.png");
  
  color: #000;
  font: 16px/24px "Raleway", Helvetica, Arial, sans-serif;
}

/*
  Typography
*/

h1, h2, h3, h4, h5, h6 {
  color: #15BFAD;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-weight: 600;
}
h1,
 {
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
}
h2 {
  font-size: 30px;
  line-height: 48px;
  margin-bottom: 24px;
}

p {
  margin-bottom: 15px;
}

.text-intro {
  font-size: 20px;
  line-height: 34px;
}


/*
  Links
*/

a {
  color: #FFAC6E;
  text-decoration: none;
 
}
a:hover {
  color: #FFCEAA;
}
.link-feat {
    font-family: "Raleway", Helvetica, Arial, sans-serif;
	font-size: 16px;
 
}

/*
  List
*/

ul {
  list-style: square;
}
.list-compact {
  list-style: none;
}


/*
  Media
*/

.avatar {

  display: block;
  margin-bottom: 24px;
  
  -webkit-border-radius: 10%;
      -moz-border-radius: 10%;
       -ms-border-radius: 10%;
        -o-border-radius: 10%;
           border-radius: 10%;
}
.avatar-block {
  width: 120px;
}
.avatar-pulled {
  float: left;
  margin-right: 20px;
  width: 130px;
}




/*
  Primary header
*/

.primary-header {
  background: #fff;
  border-bottom: 2px dotted #2EC9B8;
  margin-bottom: 50px;
  padding: 75px 0 120px;
}

/* Logo */

.primary-logo {
  float: left;
  font: 800 30px "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left: 10px;
  
}
.primary-logo a {
  color: #15BFAD;
}
.primary-logo a:hover {
  color: #1FE0CC;
}
.primary-logo span {
  color: #d2d2d2;
  font: 400 18px/24px "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  
}

/* Nav */

.primary-nav {
  float: right;
  margin-top: 21px; 
}
.primary-nav li {
  float: left;
  margin: 0 10px;
}

.primary-nav a {
  color: #b9b9b9;
 
}
.primary-nav a:hover {
  color: #A4F5ED;
}
.nav-active a {
  cursor: default;
}

/*
  Primary footer
*/

.primary-footer {
  margin: 48px 0;
  text-align: center;
  color: #b9b9b9
}